.trainingToggle {
	position: relative;
}
.trainingToggle input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
}
.trainingToggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 26px;
	background: #bdbdbd;
	border-radius: 100px;
    top: -39px;
	left: 0;
	position: absolute;
	display: inline-block;
}

.trainingToggle label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 22px;
	height: 22px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.trainingToggle input:checked + label {
	background: #5277a4;
}

.trainingToggle input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switch ~ table tr.workout {
	display: none;
}

.switch:checked ~ table tr.workout {
	display: inherit;
}