.show-side {
    position: fixed;
    left: 0;
    height: 100%;
    width: 95vw;
    background-color: white;
    transition: 0.7s;
}
.hide-side {
    position: fixed;
    left: -400px;
    height: 100%;
    width: 95vw;
    transition: 0.7s;
}