@keyframes clouds-loop-1 {
    to {
      background-position: -1000px 0;
    }
  }
  .clouds-1 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026619079949291570/clouds_233.png");
    animation: clouds-loop-1 20s infinite linear;
  }
  
  @keyframes clouds-loop-2 {
    to {
      background-position: -1000px 0;
    }
  }
  .clouds-2 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026617444720201728/clouds_991.png");
    animation: clouds-loop-2 15s infinite linear;
  }
  
  @keyframes clouds-loop-3 {
    to {
      background-position: -1579px 0;
    }
  }
  .clouds-3 {
    background-image: url("https://cdn.discordapp.com/attachments/990641651175264306/1026615143339147374/clouds_55553.png");
    animation: clouds-loop-3 17s infinite linear;
  }
  .clouds {
    z-index: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.6;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  .clouds-1,
  .clouds-2,
  .clouds-3 {
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 450px;
  }